body {
  font-family: 'Raleway', sans-serif;
  color: #414A4F;
  text-align: center;
  overflow-x: hidden;
  margin: 0;
}

.bodyBackground0{background-color: #ADD8E6;}
.bodyBackground1{background-color: #44857D;}
.bodyBackground2{background-color: #357171;}
.bodyBackground3{background-color: #1B3D59;}
.bodyBackground4{background-color: #8B0000;}
.bodyBackground5{background-color: #000;}

.container {
  background-color: #FFF;
  width: 60%;
  margin: 20px 20%;
  border-radius: 3px;
}

.title {
  width: fit-content;
  margin: auto;
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  padding-top: 30px;
  color: #357171;
}

.subtitle {
  width: fit-content;
  margin: auto;
  padding: 6px;
  background-color: #Ed9230;
  border-radius: 3px;
  color: #FFF;
  font-size: 12px;
}

.result {
  height: 300px;
}

.lives {
  padding: 20px 0;
  line-height: 1;
  display: block;
}

.lives span {
  font-family: 'Abril Fatface', cursive;
  color: #44857D;
  font-size: 200px;
}

.win,
.lose {
  display: none;
}

.win h2 {
  color: #357171;
  font-size: 60px;
}

.lose h2 {
  color: #8B0000;
}

.win, .lose {
  position: absolute;
}

.win {
  left:0;
  bottom:0;
  animation-name: win;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.lose{
  width: 30%;
  margin: auto;
  text-align: center;
  top: 250px;
  left: 35%;
  right: 35%;
  animation-name: lose;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes win {
  from{transform: translateX(-200px);}
  to{transform: translateX(2000px);}
}

@keyframes lose {
  from{transform: scale(0.1)}
  to{transform: scale(3)}
}

.hangman-input-area {
  height: 400px;
}

input {
  width: 98px;
  height: 34px;
  border: 1.5px solid #357171;
  text-align: center;
  border-radius: 3px;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  border-radius: 3px;
}

.guess{background-color: #Ed9230;}
.guess:hover{background-color: #E96429; transition: 0.3s;}
.restart{background-color: #44857D;}
.restart:hover{background-color: #1B3D59; transition: 0.3s}
